/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 141, 203, 1);
  --accent-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --color-decoration-rec: rgb(255,238,246);
  --background-color: rgb(255,238,246);
  --text-color-title: rgba(255, 194, 230, 1);
  --text-color-title-box: rgba(255, 0, 112, 1); 
  --background-image: url(../images/cover-image-light.png);
  --text-section: rgba(53, 52, 48, 1);
}

@media (prefers-color-scheme: light) {

  :root {
        /* Дублируем переменные светлой темы */   
  --accent-color:rgba(255, 141, 203, 1);
  --accent-text-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --color-decoration-rec:rgb(255,238,246);
  --background-color: rgb(255,238,246);
  --text-color-title: rgba(255, 194, 230, 1);
  --text-color-title-box: rgba(255, 0, 112, 1); 
  --background-image: url(../images/cover-image-light.png);
  --text-section: rgba(53, 52, 48, 1);
    }
    
}